---
permalink: /search-index.json
eleventyExcludeFromCollections: true
---
[
{%- for page in collections.all %}
  {
    "url": "{{ page.url }}",
    "title": "{{ page.data.title | default(page.url) | safe }}",
    "excerpt": "{% if page.data.description %}{{ page.data.description | safe }}{% else %}{{ (page.data.content or page.data.body or '') | striptags | truncate(150) | safe }}{% endif %}"
  }{% if not loop.last %},{% endif %}
{%- endfor %}
]
